@model CapaEntidad.Empleado

@{
    ViewBag.Title = "Detalles";
}

<div class="margen-input">
    <a class="text-warning" style="font-size: 35px;" title="Regresar" href="@Url.Action("Index", "Empleado", new {  })"><i class="fas fa-arrow-alt-circle-left"></i></a>
</div>

<h2 class=" text-success margen-input">Detalles</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.NombreEmpleado)*@
            <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CorreoElectronico)*@
            <label>Correo electronico</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Departamento)*@
            <label>Departamento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Cargo)*@
            <label>Cargo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Telefono)*@
            <label>Telefono</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Direccion)*@
            <label>Direccion</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DocumentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartamentoId)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.FechaCreacionEmpleado)*@
            <label>Fecha de creacion</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacionEmpleado)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.EmpleadoId }, new { @class = "btn btn-primary" })
</p>
