@model CapaEntidad.Departamento

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margen-input">
    <a class="text-warning" style="font-size: 35px;" title="Regresar" href="@Url.Action("Index", "Departamento", new {  })"><i class="fas fa-arrow-alt-circle-left"></i></a>
</div>

<h2 class=" text-primary margen-input">Editar</h2>

@using (Html.BeginForm("Editar", "Departamento", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DepartamentoId)

        <div class="form-group">
            @*@Html.LabelFor(model => model.NombreDepartamento, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreDepartamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreDepartamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Sigla, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Sigla</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sigla, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sigla, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.FechaCreacionDepartamento, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Fecha de Creacion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacionDepartamento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FechaCreacionDepartamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
