@model IEnumerable<CapaEntidad.BuscaDepartamento_Result>

@{
    ViewBag.Title = "Busqueda";
}

<h2 class="text-center margen-input">Resultado de tu Busqueda</h2>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.NombreDepartamento)*@
            <label>Nombre</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Sigla)*@
            <label>Sigla</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FechaCreacionDepartamento)*@
            <label>Fecha de creacion</label>
        </th>
        <th>
            <label>Utilidades</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.DepartamentoId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NombreDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @item.FechaCreacionDepartamento.ToShortDateString()
            @*@Html.DisplayFor(modelItem => item.FechaCreacionDepartamento)*@
        </td>
        <td>
            <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Editar", "Departamento", new { id=item.DepartamentoId })"><i class="fas fa-edit"></i></a>
            <a class="btn btn-success btn-xs" title="Detalles" href="@Url.Action("GetDepartamento", "Departamento", new { id=item.DepartamentoId })"><i class="fas fa-list-ul"></i></a>
            <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action("Eliminar", "Departamento", new { id=item.DepartamentoId })"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Crear un empleado", "Crear", new { }, new { @class = "btn btn-primary" })
</p>
