@model CapaPresentacion.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
}

<div class="margen-input">
    <a class="text-warning" style="font-size: 35px;" title="Regresar" href="@Url.Action("Index", "Home", new {  })"><i class="fas fa-arrow-alt-circle-left"></i></a>
</div>

<h2 class="">Inicia sesion</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
        <label class="col-md-2 control-label">Correo</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
        <label class="col-md-2 control-label">Contraseña</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <label class="col-md-2 control-label">Confirmar contraseña</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Registrar" />
        </div>
    </div>

    <p>
        Tienes una cuenta? @Html.ActionLink("Inicia sesion", "Login")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
